In [33]:
import pandas as pd
from collections import Counter
from pandas import Categorical

In [2]:
healthydf = pd.read_csv("../datasheets/custom_healthy.csv")

In [13]:
confdf = pd.read_csv("../datasheets/custom_confirmed.csv")

In [15]:
d = Counter(healthydf["gender"])
print('{} has occurred {} times'.format('M', d['M']))
print('{} has occurred {} times'.format('F', d['F']))

M has occurred 5584 times
F has occurred 7189 times

In [18]:
healthydf["status"] = 0
confdf["status"] = 1

In [23]:
alldf = pd.concat([healthydf, confdf])

In [37]:
alldf["city"] = Categorical(alldf["city"]).codes
alldf["gender"] = Categorical(alldf["gender"]).codes

In [38]:
alldf

      city   age  gender  status
0      765   2.0       1       0
1      765   1.0       1       0
2      765   8.0       1       0
3      765  10.0       1       0
4      765  12.0       1       0
...    ...   ...     ...     ...
2156   819  30.0       0       1
2157    82  50.0       0       1
2158   329  40.0       1       1
2159   329  40.0       1       1
2160   329  40.0       0       1

[14934 rows x 4 columns]